.ShortLinkApp{
  text-align: center;
  margin-left: 15%;
  margin-top: 5%;
}
.ShortURL{
  margin-top: 10px;
}
.ShortLink{
  margin-top: 10px;
  margin-left: 10%;
}
.Title{
  text-align: center;
  text-transform: uppercase;
}
